{% extends 'base.html' %}

{% block title %}Monitor da Cesta UFSM{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1 class="mb-4 text-info">Projeto Cesta Básica de Palmeira das Missões</h1>

    <div class="row mt-4">
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-12">
                    <h2 id="contexto">Contexto</h2>
                    <p>O Departamento de Ciências Econômicas da Universidade Federal de Santa Maria, campus Palmeira das Missões (UFSM/PM), em parceria com o Departamento Intersindical de Estatística e Estudos Econômicos (DIEESE), realiza o acompanhamento da Cesta Básica de Palmeira das Missões (CBPM) e do Cesto Integral de Palmeira das Missões (CIPM).</p>
                </div>
                <div class="col-md-12">
                    <h2 id="objetivo">Objetivo do Projeto</h2>
                    <p>O projeto tem como objetivo analisar e monitorar os preços dos alimentos e outros itens de consumo em Palmeira das Missões, fornecendo informações relevantes sobre o custo de vida na região.</p>
                </div>
                <div class="col-md-12">
                    <h2 id="metodologia">Metodologia</h2>
                    <p>A metodologia envolve a coleta de dados em supermercados locais, seguida de análise e cálculos para determinar os preços dos produtos. Esses dados são então comparados com o salário mínimo nacional para estimar os gastos da população.</p>
                </div>
                <div class="col-md-12">
                    <h2 id="resultados">Resultados</h2>
                    <p>Os resultados são apresentados em dois segmentos principais: a Cesta Básica de Palmeira das Missões (CBPM) e o Cesto Integral de Palmeira das Missões (CIPM).</p>
                </div>
                <div class="col-md-12">
                    <h2 id="impacto">Impacto e Utilidade</h2>
                    <p>Os resultados da pesquisa têm um impacto significativo na compreensão do custo de vida na região e podem ser úteis para formuladores de políticas públicas e tomadores de decisão.</p>
                </div>
                <div class="col-md-12">
                    <h2 id="conclusao">Conclusão</h2>
                    <p>O projeto da Cesta Básica de Palmeira das Missões é uma iniciativa importante para entender as dinâmicas econômicas da região e suas implicações para os residentes locais.</p>
                </div>
                <div class="col-md-12">
                    <h2 id="referencias">Relatórios Analíticos</h2>
                    <ul>
                        <li>
                            <a href="https://www.ufsm.br/cursos/graduacao/palmeira-das-missoes/ciencias-economicas/cbpm">
                                Relatório Cesta Básica de Palmeira das Missões (CBPM) e Cesto Integral de Palmeira das Missões (CIPM) 
                                <i class="fas fa-download"></i> <!-- Ícone de download -->
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <!-- Seção de contato -->
            <h2>Contato</h2>
            <p>Para mais informações ou dúvidas sobre o projeto, entre em contato conosco:</p>
            <ul>
                <li><strong>Email:</strong> coord.eco@ufsm.br</li>
                <li><strong>Telefone:</strong> (55) 3742-8800</li>
                <li><strong>Endereço:</strong> Av. Independência, 3751 - Palmeira das Missões</li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}
